<!-- <h1><%=name %></h1>
<h1><%=age %></h1>
<h1><%=hobbies %></h1>
<h1><%=locals.validated%></h1>
<%=html %>
if you use = the it will print the html line as it is
 <%-html %>
if you use - the it will show the image -->
<%- include("head") %> <%- include("nav") %>
<h1>Home Page</h1>
